<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Res_csharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Res_csharp.Properties.Settings.Res_Pos_DBConnectionString"
            connectionString="Data Source=ENG-OMAR\OMARSQL1;Initial Catalog=Res_Pos_DB;Integrated Security=True" />
    </connectionStrings>
    <userSettings>
        <Res_csharp.Properties.Settings>
            <setting name="Tax_Status" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="SalePrint" serializeAs="String">
                <value>8Cm</value>
            </setting>
            <setting name="InstallPath" serializeAs="String">
                <value>D:\</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DataBaseName" serializeAs="String">
                <value>Res_Pos_DB</value>
            </setting>
            <setting name="SarverName" serializeAs="String">
                <value>ENG-OMAR\\OMARSQL1</value>
            </setting>
        </Res_csharp.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
</configuration>
